doctype
html
  head
    meta(charset="utf-8")
    title サンプル
    link(rel="stylesheet" href="style.css")
  body
    include inclide/header_file

    p これはindexの内容です
    
    include inclide/footer_file
