@CHARSET "UTF-8";

body {
    background-color: #EEFFFF;
    font-size: 12pt;
    margin: 3px;
}

h1 {
    background-color: #006600;
    color: #ffffff;
    font-size: 18pt;
    padding: 3px;
}

td {
    padding: 5px;
    background-color: #fff;
}

p.header {
    font-size: 14px;
    font-weight: bold;
}
p.footer {
    font-size:9pt;
    text-align:right;
    border-bottom: 1px solid #006600;
}
