doctype
html
  head
    meta(charset="utf-8")
    title サンプル
    link(rel="stylesheet" href="style.css")
  body
    h1
      block title
        \title text.
    p.header
      block msg
        \msg text.
    block content
        \content data.
    p.footer
      block footer
        \footer text.
